---
import Container from "@components/container.astro";
import { getFormattedDate } from "@utils/all";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Container>
    <div class="mx-auto mt-14 max-w-[735px]">
      <span class="text-sm font-medium uppercase tracking-wider text-blue-400">
        {frontmatter.category}
      </span>
      <h1
        class="mt-1 text-4xl font-bold lg:text-5xl lg:leading-tight lg:tracking-tight">
        {frontmatter.title}
      </h1>
      <div class="mt-3 flex flex-wrap items-center gap-2 md:flex-nowrap">
        <span class="text-gray-400">
          {frontmatter.author}
        </span>
        <span class="text-gray-400">•</span>
        <time class="text-gray-400" datetime={frontmatter.publishDate}>
          {getFormattedDate(frontmatter.publishDate)}
        </time>
        <span class="hidden text-gray-400 md:block">•</span>
        <div class="flex w-full flex-wrap gap-3 md:w-auto">
          {
            frontmatter.tags.map((tag) => (
              <span class="text-sm text-gray-500">#{tag}</span>
            ))
          }
        </div>
      </div>
    </div>

    <div class="prose prose-lg mx-auto mt-6">
      <slot />
    </div>
    <div class="mt-8 text-center">
      <a
        href="/blog"
        class="rounded-md bg-gray-100 px-5 py-3 transition hover:bg-gray-200"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>
